
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.chat {
  font: 400 15px 'Open Sans', sans-serif;
  height: 500px;
  width: 500px;
  margin: 20px;
  /*padding: 5px;*/
  position: relative;
  /*overflow: hidden;*/
  border: 1px solid #f2f4f7;
}

.chat-box {
  height:385px;
  margin-right: -22px;
  overflow: auto;
}

.chat-message {
   max-width: 75%;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  clear: both;
  margin:4px;
}

.chatbot {

  background: #E5E5EA;
  color: black;
  float: left;
  clear:both;
}

.human {
  background: #00e34d;
  color:white;
  float: right;
  clear:both;    
}

.quickrep {
  background: silver;
  color:black;
}

#messageForm {
    bottom: 0px;
    position: relative;
    
}

#messageForm input {
    width: 400px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 5px;
}

#messageForm btn {
    display: inline-block;
}

.quickrep {
  height:50px;
  width: auto;
  background: #08A4D8; 
  color: white;
  display: inline-block;
  border-radius: 5px;
  margin: 4px;
  padding: 4px;
text-align:center;
line-height:42px;
}

.quickreplies-container {
  position: relative;
  margin-bottom: 4px;
  height:54px;
  width:auto;
}
