
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.chat {
  font: 400 15px 'Open Sans', sans-serif;
  height: 500px;
  width: 500px;
  margin: 20px;
  padding: 5px;
  position: relative;
  overflow: hidden;
}

.chat-box {
  height:385px;
  width:100%;
  margin-right: -22px;
  overflow: auto;
}

.chat-message {
   max-width: 80%;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  clear: both;
}

.chatbot {

  background: #E5E5EA;
  color: black;
  float: left;
  clear:both;
}

.human {
  background: #00e34d;
  color:white;
  float: right;
  clear:both;    
}

.quickrep {
  background: silver;
  color:black;
}

#messageForm {
    bottom: 0px;
    position: absolute;
    
}

#messageForm input {
    width: 400px;
    display: inline-block;
    margin-right: 15px;
    border-radius: 5px;
}

#messageForm btn {
    display: inline-block;
}
